body {
    margin: 0;
    overflow: hidden;
}

.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the fourth value (0.8) for transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.preloader img {
    width: 100%; /* Adjust as needed */
    height: auto;
    animation: shrink 2s ease-out forwards;
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
