.static-icon-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #202124;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.static-icon-container img {
    max-width: 100%;
    max-height: 100%;
}
.static-icon-container {
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
